body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.cube{
  transform-style: preserve-3d;
  transition: 0.4s;
  transform-origin: 7.5em 7.5em;
  position: relative;
  width: 15em;
  height: 15em;
  display: grid;
}

.knife{
  display: grid;
  align-content: center;
  justify-self: center;
  text-align: center;
  user-select: none;
}

.one{
  transform: translate3d(0, 0, 7.5em);
  background-color: #e2f0cb;
}

.two{
  transform: rotateX(90deg) translate3d(0, 7.5em, 0);
  transform-origin: bottom;
  background-color: #FFDAC1;
}

.three{
  transform: rotateY(90deg) translate3d(-7.5em, 0, 0);
  transform-origin: left;
  background-color: #B5EAD7;
}

.four{
  transform: rotateX(-90deg) translate3d(0, -7.5em, 0);
  transform-origin: top;
  background-color: #C7CEEA;
}

.five{
  transform: rotateY(-90deg) translate3d(7.5em, 0, 0);
  transform-origin: right;
  background-color: #f8f1ae;
}

.six{
  transform: translate3d(0, 0, -7.5em);
  background-color: #ffb7b2;
}

.face{
  width: 15em;
  height: 15em;
  position: absolute;
  background-size: cover;
  background-position: center;
  display: grid;
  align-content: center;
  justify-self: center;
  text-align: center;
  font-family: sans-serif;
  opacity: 100%;
  user-select: none;
}

.text{
  display: grid;
  align-content: center;
  justify-self: center;
  text-align: center;
  font-family: 'comic sans ms';
  user-select: none;
  visibility: hidden;
}

img{
  display: grid;
  align-content: center;
  justify-self: center;
  text-align: center;
  max-height: 7.5em;
  user-select: none;
}
